*{
    margin: 0;
    padding: 0;
}

.headerArea{
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px solid gray;
}

.headerLeft{
    width: 20%;
    padding-left: 150px;
}

.headerRight{
    width: 80%;
    padding-left: 20px;
}

.headerRight button{
    background-color: transparent;
    border: none;
    margin-right: 10px;
    cursor: pointer;
}
